d{{>navbar }}
{{!-- <span class='user' id={{id}}></span> --}}
<div class='card-group container'>
    <div class='row' id=''>

    </div>
</div>



<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-title col-lg-12">Facturas</h2>
        </div>
        <div class="col-lg-12 mt-4 pt-4" id="pedidos" style="padding-top:0pximportant; margin-top:0px!important;">
            <div class="col-lg-12">
                <h4 class="section-title col-lg-12">Mis Facturas</h4>
            </div>

                                            <div class="col-lg-12">
                                                <table class="table type1">
                                                    <thead >
                                                        <tr>
                                                            <th style="text-align:center;">N° Compra</th>
                                                            <th style="text-align:center;">Fecha</th>
                                                            <th style="text-align:right;">Total</th>
                                                            <th style="text-align:center;">Estado</th>

                                                            <th style="text-align:center;">Pago</th>

                                                            <th style="text-align:center;">Correo</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody id="orders">
                                                        

                                                    </tbody>
                                                </table>
                                            </div>


        </div>
  
    </div>
</div>


    <script src="/resources/js/misCompras.js"></script>
