{{>navbar }}

<hr>
    <div class="text-center">
        Mi carrito
        <div class="carrito container" id={{id}}>

        </div>

        <button onclick="comprar()"> Comprar </button>
    </div>
</div>





<script src="/resources/js/carrito.js"></script>