{{>navbar }}

<hr>
    <div class="text-center">
        Mi carrito
        <div class="carrito container" id={{id}}>

        </div>
    </div>
</div>


<script src="/resources/js/carrito.js"></script>