{{>navbar }}
<div class='card col-5 container my-5 '>
  <div class='producto text-center' id={{idProduct}} >
  </div>
</div>

<div class="text-center">
    <button onclick="back()">Volver</button>
</div>

<script src="/resources/js/oneProduct.js"></script>