<main class='container text-center'>
  <section class=''>
    <h2>Register</h2>
    <form method='POST' action='/register'>
      <div>
        <label for='Email'> Email </label>
        <br />
        <input type='email' name='email' placeholder='Enter email' required />
      </div>
      <div>
        <label for='password'> Password </label>
        <br />
        <input type='password' name='password' placeholder='Enter account password' required />

      </div>
      <div>
        <label for='confirmPassword'> Confirm password </label>
        <br />
        <input type='password' name='confirmPassword' placeholder='Enter password' />

      </div>
      <br />
      <button class='mb-3 btnRegister' type='submit'> Register </button>
    </form>

    <hr />
    <button type='button' onclick='singin()'> Sing In </button>

  </section>

</main>

<script src='/resources/js/register.js'></script>